<div class="container">
  <a href='/<%= @user.id %>'>Home</a>
  <h1>Create a new card!</h1>
  <form action='/<%= @user.id %>/deck/<%= @deck_id %>/card' method='post'>
    <fieldset>
      <li>
        <label>Question</label>
        <input ... name="question"/></li>
      <li>
        <label>Answer</label>
        <input ... name="answer"/></li>
    </fieldset>
    <input type="submit" value="Create!"/>
  </form>
</div>