#form to fill out to create new card
#leads into a post for newcard
<div class="container">
<h1>Create a new card!</h1>
<form action='/created' method='post'>
  <fieldset>
    <li>
      <label>Question</label>
      <input ... name="question"/></li>
    <li>
      <label>Answer</label>
      <input ... name="answer"/></li>
    <li>
      <label>Category</label>
      <input ... name="category"/></li>
  </fieldset>
  <input type="submit" value="Create!"/>
</form>
</div>