<div class="container">
  <a href='/'>Home</a>
  <h1>Create a new deck!</h1>
  <form action='/deck' method='post'>
    <fieldset>
      <li>
        <label>Please enter the name for this deck: </label>
        <input ... name="deck_name"/></li>
    </fieldset>
    <input type="submit" value="Create!"/>
  </form>
</div>


