<div class="create-deck-container">
  <form action='/deck' method='post'>
    <input ... name="deck_name" placeholder="please enter a name for your new deck"/>
    <input type="submit" value="Create!"/>
  </form>
</div>

<div class="home">
  <a href='/'>Home</a>
</div>


