<div id="all-deck-links">
	<% @decks.each do |deck| %>
	<a href="/deck/<%= deck.id %>"><%= deck.name %></a><br>
	<% end %>
</div>

<div id="deck-links"> 
	<a href='/deck/new'>Create a new deck</a><br>
	<a href='/logout'>Logout</a>
</div>