Incorrect!

<form action="/deck/<%=params[:id]%>/quiz/score" method="GET">
    <input type="submit" value="Score">
</form>

<form action="/deck/<%=params[:id]%>/quiz/<%= @num %>" method="GET">
    <input type="submit" value="Next Question">
</form>