<div class="container-andy-home">
  <fieldset>
    <% @decks.each do |deck| %>
    <a href="/deck/<%= deck.id %>"><%= deck.name %></a><br>
    <% end %>
  </fieldset>
</div>

<!-- <img src='/img/andy.jpeg' alt="Andy's Face"> -->
<div class="main-image">
  <img src='/img/horses_bw.jpg' alt="Horses" width= 100%>
</div>

<div class="create-new-deck-home">
  <a href='/deck/new'>Create a new deck</a>
</div>

<div class="header">
  <h1></h1>
</div>

