<div class="home_container"></div>
  <img class="main-image" src='/img/horses_background.jpg'>

  <div class="home_box">
	   <div id="login">
	    <form action="/login" method="post">
	      <input type="text" name="name" placeholder="name">
	      <input type="text" name="password" placeholder="password">
	                <input type="submit" value="Login">
	    </form>
	  </div>

	  <div id="create_account">
	    <form action="/create_account" method="post">
	      <input type="text" name="name" placeholder="name">
	      <input type="text" name="password" placeholder="password">
	      <input type="submit" value="Create Account">
	    </form>
	  </div>
</div>