<div class="home_container"></div>

  <!-- <h2>Member Login</h2> -->
  <!-- <h1>Year of the Horse</h1> -->

  <div class="main-image">
    <img src='/img/horses_bw.jpg' alt="Horses" width= 100%>
  </div>

  <div id="login">
    <form action="/login" method="post">
      <label>Name</label>
      <input type="text" name="name"><br>
      <label>Password</label>
      <input type="text" name="password"><br>
                <input type="submit" value="Login"><br>
    </form>
  </div>

  <br>
  <br>

  <!-- <h2>Not a Member</h2> -->

  <div id="create_account">
    <form action="/create_account" method="post">
      <label>Name</label>
      <input type="text" name="name"><br>
      <label>Password</label>
      <input type="text" name="password"><br>
      <input type="submit" value="Create Account"><br>
    </form>
  </div>

</div>