<%= @top_card.question %>

<form action="/deck/<%=params[:id]%>/quiz/<%= @num %>" method="POST">
<input type="text" name="guess">
<input type="submit" value="Submit">
</form>

<!-- <form action="/deck/<%=params[:id]%>/quiz/score" method="GET">
    <input type="submit" value="Score">
</form>
 -->

